[package]
name = "ferrum"
version = "0.1.0"
edition = "2024"

[dependencies]
winit = "0.30"
softbuffer = "0.4"
fontdue = "0.9"
portable-pty = "0.9.0"
anyhow = "1"
vte = "0.15"
unicode-width = "0.2"
arboard = "3"